body {
  background-color: #f50404;  
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 575px;
  background-color: #797978;
  padding: 30px;
  margin: 50px auto;
  border-radius: 10px;
  text-align: center;         
}

.container p {
  display: flex;
  flex-direction: column;
  align-items: center;        
  margin-top: 20px;
}

#height,
#weight {
  width: 150px;
  height: 25px;
  margin-top: 10px;
}

button {
  width: 150px;
  height: 35px;
  background-color: #fff;
  border-radius: 8px;
  border: 2px solid #212121;
  font-size: 20px;
  margin-top: 20px;
}

#results {
  font-size: 28px;
  color: #fff;
  margin-top: 20px;
}
